@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token--WzVXg3JFVySD: rgb(234, 234, 234);
  --plasmic-token-divider: var(--token--WzVXg3JFVySD);
  --token-u37PCgj-qqHfN: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-u37PCgj-qqHfN);
  --token-vZ2Ao9s0msw9r: #666666;
  --plasmic-token-text: var(--token-vZ2Ao9s0msw9r);
  --token-YRPgL6wxpy8AF: 1104px;
  --plasmic-token-max-content-width: var(--token-YRPgL6wxpy8AF);
}

.plasmic_default_styles {
  --mixin-zk08vi4A0cXK1_font-family: "Inter", sans-serif;
  --mixin-zk08vi4A0cXK1_font-size: 18px;
  --mixin-zk08vi4A0cXK1_font-weight: 400;
  --mixin-zk08vi4A0cXK1_font-style: normal;
  --mixin-zk08vi4A0cXK1_color: var(--token-vZ2Ao9s0msw9r);
  --mixin-zk08vi4A0cXK1_text-align: left;
  --mixin-zk08vi4A0cXK1_text-transform: none;
  --mixin-zk08vi4A0cXK1_line-height: 1.5;
  --mixin-zk08vi4A0cXK1_letter-spacing: normal;
  --mixin-zk08vi4A0cXK1_white-space: pre-wrap;
  --mixin-zk08vi4A0cXK1_user-select: text;
  --mixin-zk08vi4A0cXK1_text-decoration-line: none;
  --mixin-zk08vi4A0cXK1_text-overflow: clip;
  --mixin-LaFCB6Qm-SqhU_font-family: "Inter", sans-serif;
  --mixin-LaFCB6Qm-SqhU_color: #000000;
  --mixin-LaFCB6Qm-SqhU_font-size: 72px;
  --mixin-LaFCB6Qm-SqhU_font-weight: 900;
  --mixin-LaFCB6Qm-SqhU_letter-spacing: -4px;
  --mixin-LaFCB6Qm-SqhU_line-height: 1;
  --mixin-LaFCB6Qm-SqhU_white-space: pre-wrap;
  --mixin-SJ_07wCyvlyjl_font-family: "Inter", sans-serif;
  --mixin-SJ_07wCyvlyjl_color: #000000;
  --mixin-SJ_07wCyvlyjl_font-size: 48px;
  --mixin-SJ_07wCyvlyjl_font-weight: 700;
  --mixin-SJ_07wCyvlyjl_letter-spacing: -1px;
  --mixin-SJ_07wCyvlyjl_line-height: 1.1;
  --mixin-SJ_07wCyvlyjl_white-space: pre-wrap;
  --mixin-5kMbDQOjD1Obe_font-family: "Inter", sans-serif;
  --mixin-5kMbDQOjD1Obe_color: #000000;
  --mixin-5kMbDQOjD1Obe_font-size: 32px;
  --mixin-5kMbDQOjD1Obe_font-weight: 600;
  --mixin-5kMbDQOjD1Obe_letter-spacing: -0.8px;
  --mixin-5kMbDQOjD1Obe_line-height: 1.2;
  --mixin-5kMbDQOjD1Obe_white-space: pre-wrap;
  --mixin-bVz04qr5lpdrw_font-family: "Inter", sans-serif;
  --mixin-bVz04qr5lpdrw_color: #000000;
  --mixin-bVz04qr5lpdrw_font-size: 24px;
  --mixin-bVz04qr5lpdrw_font-weight: 600;
  --mixin-bVz04qr5lpdrw_letter-spacing: -0.5px;
  --mixin-bVz04qr5lpdrw_line-height: 1.3;
  --mixin-bVz04qr5lpdrw_white-space: pre-wrap;
  --mixin-XBB2svnOECmAW_font-family: "Inter", sans-serif;
  --mixin-XBB2svnOECmAW_color: #000000;
  --mixin-XBB2svnOECmAW_font-size: 20px;
  --mixin-XBB2svnOECmAW_font-weight: 600;
  --mixin-XBB2svnOECmAW_letter-spacing: -0.3px;
  --mixin-XBB2svnOECmAW_line-height: 1.5;
  --mixin-XBB2svnOECmAW_white-space: pre-wrap;
  --mixin-4Zew0mR5aK6Pi_font-family: "Inter", sans-serif;
  --mixin-4Zew0mR5aK6Pi_color: #000000;
  --mixin-4Zew0mR5aK6Pi_font-size: 16px;
  --mixin-4Zew0mR5aK6Pi_font-weight: 600;
  --mixin-4Zew0mR5aK6Pi_line-height: 1.5;
  --mixin-4Zew0mR5aK6Pi_white-space: pre-wrap;
  --mixin-MVDgdZ3pSBJ8p_border-left-color: #dddddd;
  --mixin-MVDgdZ3pSBJ8p_border-left-style: solid;
  --mixin-MVDgdZ3pSBJ8p_border-left-width: 3px;
  --mixin-MVDgdZ3pSBJ8p_color: #888888;
  --mixin-MVDgdZ3pSBJ8p_padding-left: 10px;
  --mixin-MVDgdZ3pSBJ8p_white-space: pre-wrap;
  --mixin-3rmxMDWaBvbjM_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-3rmxMDWaBvbjM_border-bottom-color: #dddddd;
  --mixin-3rmxMDWaBvbjM_border-bottom-style: solid;
  --mixin-3rmxMDWaBvbjM_border-bottom-width: 1px;
  --mixin-3rmxMDWaBvbjM_border-left-color: #dddddd;
  --mixin-3rmxMDWaBvbjM_border-left-style: solid;
  --mixin-3rmxMDWaBvbjM_border-left-width: 1px;
  --mixin-3rmxMDWaBvbjM_border-right-color: #dddddd;
  --mixin-3rmxMDWaBvbjM_border-right-style: solid;
  --mixin-3rmxMDWaBvbjM_border-right-width: 1px;
  --mixin-3rmxMDWaBvbjM_border-top-color: #dddddd;
  --mixin-3rmxMDWaBvbjM_border-top-style: solid;
  --mixin-3rmxMDWaBvbjM_border-top-width: 1px;
  --mixin-3rmxMDWaBvbjM_border-bottom-left-radius: 3px;
  --mixin-3rmxMDWaBvbjM_border-bottom-right-radius: 3px;
  --mixin-3rmxMDWaBvbjM_border-top-left-radius: 3px;
  --mixin-3rmxMDWaBvbjM_border-top-right-radius: 3px;
  --mixin-3rmxMDWaBvbjM_font-family: "Inconsolata";
  --mixin-3rmxMDWaBvbjM_padding-bottom: 1px;
  --mixin-3rmxMDWaBvbjM_padding-left: 4px;
  --mixin-3rmxMDWaBvbjM_padding-right: 4px;
  --mixin-3rmxMDWaBvbjM_padding-top: 1px;
  --mixin-3rmxMDWaBvbjM_white-space: pre-wrap;
  --mixin-ZstRHyoSI0aRa_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ZstRHyoSI0aRa_border-bottom-color: #dddddd;
  --mixin-ZstRHyoSI0aRa_border-bottom-style: solid;
  --mixin-ZstRHyoSI0aRa_border-bottom-width: 1px;
  --mixin-ZstRHyoSI0aRa_border-left-color: #dddddd;
  --mixin-ZstRHyoSI0aRa_border-left-style: solid;
  --mixin-ZstRHyoSI0aRa_border-left-width: 1px;
  --mixin-ZstRHyoSI0aRa_border-right-color: #dddddd;
  --mixin-ZstRHyoSI0aRa_border-right-style: solid;
  --mixin-ZstRHyoSI0aRa_border-right-width: 1px;
  --mixin-ZstRHyoSI0aRa_border-top-color: #dddddd;
  --mixin-ZstRHyoSI0aRa_border-top-style: solid;
  --mixin-ZstRHyoSI0aRa_border-top-width: 1px;
  --mixin-ZstRHyoSI0aRa_border-bottom-left-radius: 3px;
  --mixin-ZstRHyoSI0aRa_border-bottom-right-radius: 3px;
  --mixin-ZstRHyoSI0aRa_border-top-left-radius: 3px;
  --mixin-ZstRHyoSI0aRa_border-top-right-radius: 3px;
  --mixin-ZstRHyoSI0aRa_font-family: "Inconsolata";
  --mixin-ZstRHyoSI0aRa_padding-bottom: 3px;
  --mixin-ZstRHyoSI0aRa_padding-left: 6px;
  --mixin-ZstRHyoSI0aRa_padding-right: 6px;
  --mixin-ZstRHyoSI0aRa_padding-top: 3px;
  --mixin-ZstRHyoSI0aRa_white-space: pre-wrap;
  --mixin-gsJZHdGBbrcrz_display: flex;
  --mixin-gsJZHdGBbrcrz_flex-direction: column;
  --mixin-gsJZHdGBbrcrz_align-items: stretch;
  --mixin-gsJZHdGBbrcrz_justify-content: flex-start;
  --mixin-gsJZHdGBbrcrz_list-style-position: outside;
  --mixin-gsJZHdGBbrcrz_padding-left: 40px;
  --mixin-gsJZHdGBbrcrz_position: relative;
  --mixin-gsJZHdGBbrcrz_list-style-type: decimal;
  --mixin-gsJZHdGBbrcrz_white-space: pre-wrap;
  --mixin-A5WZRDSUGsT_s_display: flex;
  --mixin-A5WZRDSUGsT_s_flex-direction: column;
  --mixin-A5WZRDSUGsT_s_align-items: stretch;
  --mixin-A5WZRDSUGsT_s_justify-content: flex-start;
  --mixin-A5WZRDSUGsT_s_list-style-position: outside;
  --mixin-A5WZRDSUGsT_s_padding-left: 40px;
  --mixin-A5WZRDSUGsT_s_position: relative;
  --mixin-A5WZRDSUGsT_s_list-style-type: disc;
  --mixin-A5WZRDSUGsT_s_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-zk08vi4A0cXK1_font-family);
  font-size: var(--mixin-zk08vi4A0cXK1_font-size);
  font-weight: var(--mixin-zk08vi4A0cXK1_font-weight);
  font-style: var(--mixin-zk08vi4A0cXK1_font-style);
  color: var(--mixin-zk08vi4A0cXK1_color);
  text-align: var(--mixin-zk08vi4A0cXK1_text-align);
  text-transform: var(--mixin-zk08vi4A0cXK1_text-transform);
  line-height: var(--mixin-zk08vi4A0cXK1_line-height);
  letter-spacing: var(--mixin-zk08vi4A0cXK1_letter-spacing);
  white-space: var(--mixin-zk08vi4A0cXK1_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-LaFCB6Qm-SqhU_font-family);
  color: var(--mixin-LaFCB6Qm-SqhU_color);
  font-size: var(--mixin-LaFCB6Qm-SqhU_font-size);
  font-weight: var(--mixin-LaFCB6Qm-SqhU_font-weight);
  letter-spacing: var(--mixin-LaFCB6Qm-SqhU_letter-spacing);
  line-height: var(--mixin-LaFCB6Qm-SqhU_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-SJ_07wCyvlyjl_font-family);
  color: var(--mixin-SJ_07wCyvlyjl_color);
  font-size: var(--mixin-SJ_07wCyvlyjl_font-size);
  font-weight: var(--mixin-SJ_07wCyvlyjl_font-weight);
  letter-spacing: var(--mixin-SJ_07wCyvlyjl_letter-spacing);
  line-height: var(--mixin-SJ_07wCyvlyjl_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-5kMbDQOjD1Obe_font-family);
  color: var(--mixin-5kMbDQOjD1Obe_color);
  font-size: var(--mixin-5kMbDQOjD1Obe_font-size);
  font-weight: var(--mixin-5kMbDQOjD1Obe_font-weight);
  letter-spacing: var(--mixin-5kMbDQOjD1Obe_letter-spacing);
  line-height: var(--mixin-5kMbDQOjD1Obe_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-bVz04qr5lpdrw_font-family);
  color: var(--mixin-bVz04qr5lpdrw_color);
  font-size: var(--mixin-bVz04qr5lpdrw_font-size);
  font-weight: var(--mixin-bVz04qr5lpdrw_font-weight);
  letter-spacing: var(--mixin-bVz04qr5lpdrw_letter-spacing);
  line-height: var(--mixin-bVz04qr5lpdrw_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-XBB2svnOECmAW_font-family);
  color: var(--mixin-XBB2svnOECmAW_color);
  font-size: var(--mixin-XBB2svnOECmAW_font-size);
  font-weight: var(--mixin-XBB2svnOECmAW_font-weight);
  letter-spacing: var(--mixin-XBB2svnOECmAW_letter-spacing);
  line-height: var(--mixin-XBB2svnOECmAW_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-4Zew0mR5aK6Pi_font-family);
  color: var(--mixin-4Zew0mR5aK6Pi_color);
  font-size: var(--mixin-4Zew0mR5aK6Pi_font-size);
  font-weight: var(--mixin-4Zew0mR5aK6Pi_font-weight);
  line-height: var(--mixin-4Zew0mR5aK6Pi_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-MVDgdZ3pSBJ8p_color);
  padding-left: var(--mixin-MVDgdZ3pSBJ8p_padding-left);
  border-left: var(--mixin-MVDgdZ3pSBJ8p_border-left-width)
    var(--mixin-MVDgdZ3pSBJ8p_border-left-style)
    var(--mixin-MVDgdZ3pSBJ8p_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-3rmxMDWaBvbjM_font-family);
  border-radius: var(--mixin-3rmxMDWaBvbjM_border-top-left-radius)
    var(--mixin-3rmxMDWaBvbjM_border-top-right-radius)
    var(--mixin-3rmxMDWaBvbjM_border-bottom-right-radius)
    var(--mixin-3rmxMDWaBvbjM_border-bottom-left-radius);
  padding: var(--mixin-3rmxMDWaBvbjM_padding-top)
    var(--mixin-3rmxMDWaBvbjM_padding-right)
    var(--mixin-3rmxMDWaBvbjM_padding-bottom)
    var(--mixin-3rmxMDWaBvbjM_padding-left);
  border-top: var(--mixin-3rmxMDWaBvbjM_border-top-width)
    var(--mixin-3rmxMDWaBvbjM_border-top-style)
    var(--mixin-3rmxMDWaBvbjM_border-top-color);
  border-right: var(--mixin-3rmxMDWaBvbjM_border-right-width)
    var(--mixin-3rmxMDWaBvbjM_border-right-style)
    var(--mixin-3rmxMDWaBvbjM_border-right-color);
  border-bottom: var(--mixin-3rmxMDWaBvbjM_border-bottom-width)
    var(--mixin-3rmxMDWaBvbjM_border-bottom-style)
    var(--mixin-3rmxMDWaBvbjM_border-bottom-color);
  border-left: var(--mixin-3rmxMDWaBvbjM_border-left-width)
    var(--mixin-3rmxMDWaBvbjM_border-left-style)
    var(--mixin-3rmxMDWaBvbjM_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-ZstRHyoSI0aRa_font-family);
  border-radius: var(--mixin-ZstRHyoSI0aRa_border-top-left-radius)
    var(--mixin-ZstRHyoSI0aRa_border-top-right-radius)
    var(--mixin-ZstRHyoSI0aRa_border-bottom-right-radius)
    var(--mixin-ZstRHyoSI0aRa_border-bottom-left-radius);
  padding: var(--mixin-ZstRHyoSI0aRa_padding-top)
    var(--mixin-ZstRHyoSI0aRa_padding-right)
    var(--mixin-ZstRHyoSI0aRa_padding-bottom)
    var(--mixin-ZstRHyoSI0aRa_padding-left);
  border-top: var(--mixin-ZstRHyoSI0aRa_border-top-width)
    var(--mixin-ZstRHyoSI0aRa_border-top-style)
    var(--mixin-ZstRHyoSI0aRa_border-top-color);
  border-right: var(--mixin-ZstRHyoSI0aRa_border-right-width)
    var(--mixin-ZstRHyoSI0aRa_border-right-style)
    var(--mixin-ZstRHyoSI0aRa_border-right-color);
  border-bottom: var(--mixin-ZstRHyoSI0aRa_border-bottom-width)
    var(--mixin-ZstRHyoSI0aRa_border-bottom-style)
    var(--mixin-ZstRHyoSI0aRa_border-bottom-color);
  border-left: var(--mixin-ZstRHyoSI0aRa_border-left-width)
    var(--mixin-ZstRHyoSI0aRa_border-left-style)
    var(--mixin-ZstRHyoSI0aRa_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-gsJZHdGBbrcrz_display);
  flex-direction: var(--mixin-gsJZHdGBbrcrz_flex-direction);
  align-items: var(--mixin-gsJZHdGBbrcrz_align-items);
  justify-content: var(--mixin-gsJZHdGBbrcrz_justify-content);
  list-style-position: var(--mixin-gsJZHdGBbrcrz_list-style-position);
  padding-left: var(--mixin-gsJZHdGBbrcrz_padding-left);
  position: var(--mixin-gsJZHdGBbrcrz_position);
  list-style-type: var(--mixin-gsJZHdGBbrcrz_list-style-type);
  flex-column-gap: var(--mixin-gsJZHdGBbrcrz_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-A5WZRDSUGsT_s_display);
  flex-direction: var(--mixin-A5WZRDSUGsT_s_flex-direction);
  align-items: var(--mixin-A5WZRDSUGsT_s_align-items);
  justify-content: var(--mixin-A5WZRDSUGsT_s_justify-content);
  list-style-position: var(--mixin-A5WZRDSUGsT_s_list-style-position);
  padding-left: var(--mixin-A5WZRDSUGsT_s_padding-left);
  position: var(--mixin-A5WZRDSUGsT_s_position);
  list-style-type: var(--mixin-A5WZRDSUGsT_s_list-style-type);
  flex-column-gap: var(--mixin-A5WZRDSUGsT_s_flex-column-gap);
}
