.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__znv5O {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-YRPgL6wxpy8AF);
  display: flex;
  min-width: 0;
}
.freeBox__znv5O > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__znv5O > :global(.__wab_flex-container) > *,
.freeBox__znv5O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__znv5O > :global(.__wab_flex-container) > picture > img,
.freeBox__znv5O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__rBlXz {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__rBlXz > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__rBlXz > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__rBlXz > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__rBlXz > :global(.__wab_flex-container) > *,
.columns__rBlXz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__rBlXz > :global(.__wab_flex-container) > picture > img,
.columns__rBlXz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rBlXz {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rBlXz > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rBlXz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rBlXz > :global(.__wab_flex-container) > *,
  .columns__rBlXz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__rBlXz > :global(.__wab_flex-container) > picture > img,
  .columns__rBlXz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__gktYw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gktYw {
    width: 100%;
  }
}
.freeBox__areBl {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__areBl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__areBl > :global(.__wab_flex-container) > *,
.freeBox__areBl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__areBl > :global(.__wab_flex-container) > picture > img,
.freeBox__areBl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__areBl {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__areBl > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___4SxWp {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__mqwA9 {
  position: relative;
  text-align: left;
}
.bullet__sphym:global(.__wab_instance) {
  position: relative;
}
.bullet__efiQw:global(.__wab_instance) {
  position: relative;
}
.bullet__nI2Wf:global(.__wab_instance) {
  position: relative;
}
.text__i29FY {
  position: relative;
  text-align: left;
}
.freeBox__meMqe {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__meMqe > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__meMqe > :global(.__wab_flex-container) > *,
.freeBox__meMqe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__meMqe > :global(.__wab_flex-container) > picture > img,
.freeBox__meMqe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__meMqe {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__meMqe > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__meMqe > :global(.__wab_flex-container) > *,
  .freeBox__meMqe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__meMqe > :global(.__wab_flex-container) > picture > img,
  .freeBox__meMqe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__p70Xx:global(.__wab_instance) {
  position: relative;
}
.svg__pwr2O {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___4Rtk6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__myJu6:global(.__wab_instance) {
  position: relative;
}
.svg__ixgua {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__dbcfr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__anDix {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__anDix {
    width: 100%;
  }
}
.img__slYOz {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__slYOz > picture > img {
  object-fit: cover;
}
.img__slYOz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__fUuXm {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__fUuXm > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__fUuXm > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__fUuXm > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__fUuXm > :global(.__wab_flex-container) > *,
.columns__fUuXm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__fUuXm > :global(.__wab_flex-container) > picture > img,
.columns__fUuXm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fUuXm {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fUuXm > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fUuXm > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fUuXm > :global(.__wab_flex-container) > *,
  .columns__fUuXm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__fUuXm > :global(.__wab_flex-container) > picture > img,
  .columns__fUuXm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__p30O8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__p30O8 {
    width: 100%;
  }
}
.img__xfFqL {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__xfFqL > picture > img {
  object-fit: cover;
}
.img__xfFqL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__jQpgo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jQpgo {
    width: 100%;
  }
}
.freeBox__gnSw {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__gnSw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__gnSw > :global(.__wab_flex-container) > *,
.freeBox__gnSw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gnSw > :global(.__wab_flex-container) > picture > img,
.freeBox__gnSw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gnSw {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gnSw > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text___5Ko2D {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__k0B0V {
  position: relative;
  text-align: left;
}
.bullet__ulq6P:global(.__wab_instance) {
  position: relative;
}
.bullet__u8Gf:global(.__wab_instance) {
  position: relative;
}
.bullet__v9VdW:global(.__wab_instance) {
  position: relative;
}
.text___8EKD {
  position: relative;
  text-align: left;
}
.freeBox__toJDs {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__toJDs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__toJDs > :global(.__wab_flex-container) > *,
.freeBox__toJDs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__toJDs > :global(.__wab_flex-container) > picture > img,
.freeBox__toJDs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__toJDs {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__toJDs > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__toJDs > :global(.__wab_flex-container) > *,
  .freeBox__toJDs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__toJDs > :global(.__wab_flex-container) > picture > img,
  .freeBox__toJDs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__xFnzP:global(.__wab_instance) {
  position: relative;
}
.svg__aWMy4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pvJLc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__gOsVb:global(.__wab_instance) {
  position: relative;
}
.svg___5DbzJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ymx5V {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
